<div class="section section_footer">
    <div class="container">

        <div class="row">
            <div class="row__col row__col_size_one-third">
                <ul class="footer-nav">
                    <li class="footer-nav__title">
                        <a class="link link_black" href="/">Меню 1</a>
                    </li>
                </ul>
            </div>
            <div class="row__col row__col_size_one-third">
                <ul class="footer-nav">
                    <li class="footer-nav__title">
                        <a class="link link_black" href="/">Меню 2</a>
                    </li>
                </ul>
            </div>
            <div class="row__col row__col_size_one-third">
                <ul class="footer-nav">
                    <li class="footer-nav__title">
                        <a class="link link_black" href="/">Меню 3</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="row__col row__col_size_two-thirds row__col_offset_one-third">
                <div class="copyright">
                    <div class="copyright__title">&copy; Лицей {% now "Y" %}</div>
                    <div class="copyright__rights">При полном или частичном использовании материалов сайта ссылка обязательна.</div>
                    <div class="copyright__madeby">Сделал <a class="link link_gray" href="http://solopchenko.net" target="_blank">Святослав Солопченко</a> в 2016 году.</div>
                </div>
                <div class="footer__to-top">
                    <a id="up" class="link link_lightgray link_dashed" href="#">К началу&nbsp;&uarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>